In [54]:
import numpy as np
import pandas as pd
import itertools

In [2]:
# specify your path
file_path = 'AKW 2020.txt'

with open(file_path) as f:
    lines = f.readlines()

In [8]:
# take a look at data
print('how many lines in total:', len(lines))
print('how do columns look like:', lines[29])

how many lines in total: 784261
how do columns look like: |BuKr| M|Jahr|Buch.dat. |Belegdatum|Meldedatum|Belegnr   |Art|St|Vor|Satz   |      Steuerbasisbetrag| Basisbetrag in Fremdw.|Währ |FWähr|Steuerk.|Hauptbuch |Umsatzsteuer-Id.Nr  |Geschäftspartnername               |ISO|Land           |Straße                             |Ort                                |Postleitz.|Ausgleich |  UmrechKurs|Beschreibung                  |abzuf. Ausg. St.|           Bruttobetrag|Debitor   |  Ausgangssteuer|Ausgangssteuer in Fremdw.     |

In [44]:
def cut_line(line, cut_symbol = '|'):
    cut_list = [l for l in (line).split(cut_symbol)]
    if '' in cut_list:
        cut_list.remove('')
    if '\n' in cut_list:
        cut_list.remove('\n')
    return cut_list

cut_list = cut_line(lines[29])
print(cut_list)
print(len(cut_list))

['BuKr', ' M', 'Jahr', 'Buch.dat. ', 'Belegdatum', 'Meldedatum', 'Belegnr   ', 'Art', 'St', 'Vor', 'Satz   ', '      Steuerbasisbetrag', ' Basisbetrag in Fremdw.', 'Währ ', 'FWähr', 'Steuerk.', 'Hauptbuch ', 'Umsatzsteuer-Id.Nr  ', 'Geschäftspartnername               ', 'ISO', 'Land           ', 'Straße                             ', 'Ort                                ', 'Postleitz.', 'Ausgleich ', '  UmrechKurs', 'Beschreibung                  ', 'abzuf. Ausg. St.', '           Bruttobetrag', 'Debitor   ', '  Ausgangssteuer', 'Ausgangssteuer in Fremdw.     ']
32

In [47]:
new_lines = [cut_line(line) for line in lines]

In [29]:
# check how many times header appears

key_columns = 'BuKr' # you can change arbitrary column name in the future 

count = 0
for line in lines:
    if key_columns in line:
        #print(line)
        count += 1
print(count)

12254

In [30]:
# check for ausgangsteuer

key_columns = 'BuKr' # you can change arbitrary column name in the future 
key_columns_add = 'Ausgangssteuer in Fremdw.     '

count_1 = 0
for line in lines:
    if key_columns in line and key_columns_add in line:
        #print(line)
        count_1 += 1
print(count_1)

7523

In [31]:
# check for eingangsteuer

key_columns = 'BuKr' # you can change arbitrary column name in the future 
key_columns_add = 'Eingangssteuer in Fremdw.     '

count_2 = 0
for line in lines:
    if key_columns in line and key_columns_add in line:
        #print(line)
        count_2 += 1
print(count_2)

4731

In [32]:
# validate

if count == count_1 + count_2:
    print(True)

True

In [37]:
# try iteratively form dataframe

columns = cut_line(lines[29])
row1 = cut_line(lines[31])
row2 = cut_line(lines[32])

temp_list = []
temp_list.append(row1)
temp_list.append(row2)

df = pd.DataFrame(temp_list, columns=columns)
print(df)

   BuKr   M  Jahr  Buch.dat.   Belegdatum  Meldedatum  Belegnr     Art  St  \
0  DE10   1  2020  01.01.2020  01.01.2020              1000007940  AB   A9
1  DE10   1  2020  01.01.2020  01.01.2020              1000018044  AB   A9

   Vor  ...  Ort                                  Postleitz.  Ausgleich   \
0  MWS  ...  Colombo                              05          01.01.2020
1  MWS  ...  Dhaka                                1207        01.01.2020

     UmrechKurs  Beschreibung                    abzuf. Ausg. St.  \
0                Ausgangssteuer Ausland steuer              0,00
1                Ausgangssteuer Ausland steuer              0,00

              Bruttobetrag  Debitor       Ausgangssteuer  \
0                    0,01   910373337              0,00
1                    0,01   910451709              0,00

   Ausgangssteuer in Fremdw.
0
1

[2 rows x 32 columns]

In [34]:
key_columns = 'BuKr' # you can change arbitrary column name in the future 
key_columns_add = 'Ausgangssteuer in Fremdw.     '

key_separate = 'DE10'

begin_index, endin_index = [], []

for i in range(len(new_lines)):
    if key_columns in new_lines[i] and key_columns_add in new_lines[i]:
        begin_index.append(i+2)
    if key_separate not in new_lines[i] and key_separate in new_lines[i-1]: 
        endin_index.append(i)
    

print(len(begin_index))
print(len(endin_index))

print(begin_index[0])
print(endin_index[0])

7523
12254
31
86

In [35]:
print(new_lines[30])
print('\n')
print(new_lines[31])

['--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------']


['DE10', ' 1', '2020', '01.01.2020', '01.01.2020', '          ', '1000007940', 'AB ', 'A9', 'MWS', '  0,000', '                  0,01 ', '                       ', 'EUR  ', '     ', '5521100 ', '1090100   ', '                    ', 'TUDAWE TRADING COMPANY PVT LTD     ', 'LK ', 'Sri Lanka      ', 'No. 509, Elvitigala Road           ', 'Colombo                            ', '05        ', '01.01.2020', '            ', 'Ausgangssteuer Ausland steuer ', '           0,00 ', '                  0,01 ', '910373337 ', '           0,00 ', '                              ']

In [31]:
print(list(range(29,40)))

[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [36]:
save_index = []

for j in range(len(begin_index)):
    temp_save_index = list(range(begin_index[j], endin_index[j]))
    save_index.append(temp_save_index)

print(len(save_index))
print(save_index[0])

7523
[31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]

In [37]:
print(save_index[-1])

[481439, 481440, 481441, 481442, 481443, 481444, 481445, 481446, 481447, 481448, 481449, 481450, 481451, 481452, 481453, 481454, 481455, 481456, 481457, 481458, 481459, 481460, 481461, 481462, 481463, 481464, 481465, 481466, 481467, 481468, 481469, 481470, 481471, 481472, 481473, 481474, 481475, 481476]

In [41]:
print(new_lines[481476])

['DE10', '15', '2020', '31.12.2020', '15.12.2020', '          ', '4500218706', 'KG ', 'E1', 'ESA', ' 16,000', '          1.763.976,00 ', '                       ', 'EUR  ', '     ', '5521200 ', '3319200   ', 'IT01732570203       ', 'CEM  S.P.A.                        ', 'IT ', 'Italien        ', "VIA CA'ROSSA  N.1                  ", 'QUISTELLO (MANTOVA)                ', '46026     ', '31.12.2020', '            ', 'Erwerbssteuer 16% EG-Warenlie ', '     282.236,16 ', '          2.046.212,16 ', '2290      ', '     282.236,16 ', '                              ']

In [1]:
# specify your path
file_path = 'AKW 2020.txt'

with open(file_path) as f:
    lines = f.readlines()

In [2]:
def cut_line(line, cut_symbol = '|'):
    cut_list = [l for l in (line).split(cut_symbol)]
    if '' in cut_list:
        cut_list.remove('')
    if '\n' in cut_list:
        cut_list.remove('\n')
    return cut_list

In [3]:
new_lines = [cut_line(line) for line in lines]

In [42]:
key_columns = 'BuKr' # you can change arbitrary column name in the future 
key_columns_add = 'Ausgangssteuer in Fremdw.     '
key_separate = 'DE10'
begin_index, endin_index = [], []

for i in range(len(new_lines)):
    if key_columns in new_lines[i] and key_columns_add in new_lines[i]:
        begin_index.append(i+2)
    if key_separate not in new_lines[i] and key_separate in new_lines[i-1]: 
        endin_index.append(i)

save_index = []
for j in range(len(begin_index)):
    temp_save_index = list(range(begin_index[j], endin_index[j]))
    save_index.append(temp_save_index)

In [43]:
print(len(save_index))
print(save_index[-1])

7523
[481439, 481440, 481441, 481442, 481443, 481444, 481445, 481446, 481447, 481448, 481449, 481450, 481451, 481452, 481453, 481454, 481455, 481456, 481457, 481458, 481459, 481460, 481461, 481462, 481463, 481464, 481465, 481466, 481467, 481468, 481469, 481470, 481471, 481472, 481473, 481474, 481475, 481476]

In [46]:
columns = new_lines[29]

temp_list = []

for m in range(len(save_index)):
    for n in range(len(save_index[m])):
        temp_list.append(new_lines[save_index[m][n]])
        #print(save_index[m][n])

In [47]:
print(len(temp_list))

413748

In [52]:
columns = new_lines[29]

temp_list = []

for m in range(len(save_index)):
    for n in range(len(save_index[m])):
        if len(new_lines[save_index[m][n]]) == len(columns):
            temp_list.append(new_lines[save_index[m][n]])
            #print(save_index[m][n])
        else:
            print('this row has been split wrongly:',save_index[m][n], 'length:', len(new_lines[save_index[m][n]]))

this row has been split wrongly: 95819 length: 33

In [55]:
df = pd.DataFrame(temp_list, columns=columns)
df.head()

,BuKr,M,Jahr,Buch.dat.,Belegdatum,Meldedatum,Belegnr,Art,St,Vor,...,Ort,Postleitz.,Ausgleich,UmrechKurs,Beschreibung,abzuf. Ausg. St.,Bruttobetrag,Debitor,Ausgangssteuer,Ausgangssteuer in Fremdw.
0,DE10,1,2020,01.01.2020,01.01.2020,,1000007940,AB,A9,MWS,...,Colombo,05,01.01.2020,,Ausgangssteuer Ausland steuer,"0,00","0,01",910373337,"0,00",
1,DE10,1,2020,01.01.2020,01.01.2020,,1000018044,AB,A9,MWS,...,Dhaka,1207,01.01.2020,,Ausgangssteuer Ausland steuer,"0,00","0,01",910451709,"0,00",
2,DE10,1,2020,01.01.2020,01.01.2020,,1000018045,AB,A9,MWS,...,Dhaka,1207,23.01.2020,,Ausgangssteuer Ausland steuer,"0,00","0,99-",910451709,"0,00",
3,DE10,1,2020,01.01.2020,01.01.2020,,1200000012,YC,AZ,MWS,...,,,,,Kein Steuervorgang (SD),"0,00","89.248,77-",,"0,00",
4,DE10,1,2020,01.01.2020,01.01.2020,,1200000014,YC,AZ,MWS,...,Winnenden,71364,17.02.2020,,Kein Steuervorgang (SD),"0,00","5.017,91-",920377020,"0,00",

In [58]:
df.describe()

,BuKr,M,Jahr,Buch.dat.,Belegdatum,Meldedatum,Belegnr,Art,St,Vor,...,Ort,Postleitz.,Ausgleich,UmrechKurs,Beschreibung,abzuf. Ausg. St.,Bruttobetrag,Debitor,Ausgangssteuer,Ausgangssteuer in Fremdw.
count,413747,413747,413747,413747,413747,413747,413747,413747,413747,413747,...,413747,413747,413747,413747,413747,413747,413747,413747,413747,413747
unique,1,15,1,341,492,1,384165,24,34,2,...,1124,1070,445,804,30,35611,142192,1408,35611,786
top,DE10,7,2020,22.10.2020,29.05.2020,,9000000182,RV,A6,MWS,...,Made,4921 PJ,,,Ausgangssteuer 0% EG-Warenlie,"0,00","24,62-",,"0,00",
freq,413747,38614,413747,2473,2538,413747,5,364866,168075,385648,...,58375,58375,60455,411241,168075,338141,1590,59726,338141,412559

eingang

In [59]:
file_path = 'AKW 2020.txt'

def cut_line(line, cut_symbol = '|'):
    cut_list = [l for l in (line).split(cut_symbol)]
    if '' in cut_list:
        cut_list.remove('')
    if '\n' in cut_list:
        cut_list.remove('\n')
    return cut_list

cut_list = cut_line(lines[29])
print(cut_list)
print(len(cut_list))


with open(file_path) as f:
    lines = f.readlines()
new_lines = [cut_line(line) for line in lines]

In [65]:
key_columns = 'BuKr' # you can change arbitrary column name in the future 
key_columns_add = 'Eingangssteuer in Fremdw.     '

key_separate = 'DE10'

begin_index, endin_index = [], []

for i in range(len(new_lines)):
    if key_columns in new_lines[i] and key_columns_add in new_lines[i]:
        begin_index.append(i+2)
    if key_separate not in new_lines[i] and key_separate in new_lines[i-1]: 
        endin_index.append(i)
    

print(len(begin_index))
print(len(endin_index))

print(begin_index[0])
print(endin_index[0])

4731
12254
481486
86

In [68]:
gap = len(endin_index) - len(begin_index)
endin_index = [endin_index[z+gap] for z in range(len(begin_index))]

In [71]:
print(len(endin_index))
print(endin_index[0])

4731
481541

In [73]:
print(new_lines[490749])
print(len(new_lines[490749]))

['DE10', ' 1', '2020', '13.01.2020', '13.01.2020', '          ', '4500007321', 'RE ', 'VN', 'VST', ' 19,000', '              2.979,50 ', '                       ', 'EUR  ', '     ', '5521500 ', '2122410   ', 'DE260383605         ', 'ics for automotive GmbH            ', 'DE ', 'Deutschland    ', 'Am Föhrenried 16 ', ' 18              ', 'Baindt                             ', '88255     ', '27.01.2020', '            ', 'Vorsteuer Inland 19%          ', '         566,11 ', '              3.545,61 ', '900165234 ', '         566,11 ', '                              ']
33